services:
  crystalball:
    profiles: ["dev"]
    image: node:latest
    working_dir: /app
    volumes:
      - ./app:/app
    ports:
      - "8081:5173"
    command: sh -c "npm install && npm run dev -- --host 0.0.0.0"

  crystalball-prod:
    profiles: ["prod"]
    build:
      context: ./app
      dockerfile: Dockerfile
    ports:
      - "8081:80"
    restart: always