/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

/* Variables */
:root {
  --color-page: #000000;
  --color-sphere-background: #000;
  --color-decision-text: #fff;
  transition-duration: 2s;
  overflow: hidden;
  width: 100%;
}

/* Global Styles */
html,
body,
#root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Layout */
.wrapper {
  display: flex;
  position: relative;
  height: 100vh;
  max-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  background-color: var(--color-page);
  overflow: hidden;
  transition-duration: 2s;
}

.wrapper .sphere {
  transition-duration: 2s;
}

.wrapper.positive {
  background-color: #1c0631;
  transition-duration: 2s;
  --color-page: #1c0631;
  --color-decision-text: #fff;
}

.wrapper.neutral {
  transition-duration: 2s;
  background-color: #000000;
  --color-page: #000000;
  --color-decision-text: #000000;
}

.wrapper.negative {
  --color-page: #1a001f;
  --color-decision-text: #00ff00;
}

.header {
  display: block;
  margin: 0 auto 30px;
  font-family: "Yusei Magic", sans-serif;
  font-size: 30px;
  font-weight: 200;
  color: #fff;
}
.header p {
  text-align: center;
  margin: 15px;
  opacity: 0;
  transform: scale(0);
  transition-duration: 2s;
  white-space: pre-line;
}
.header p.show {
  opacity: 1;
  transform: scale(1);
  transition-duration: 2s;
}

/* Sphere Styles */
.sphere {
  position: relative;
  z-index: 1;
  width: 95%;
  max-width: 300px;
  max-height: 300px;
  flex: 0 0 300px;
  color: var(--color-decision-text);
  background-color: #000;
  border-radius: 100%;
  box-shadow: 0 3px 100px rgba(255, 255, 255, 0.4), inset 0 0 25px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  transform: scale(0.8);
  transition-duration: 2s;
  animation: none
}
@media (width > 409px) {
  .sphere {
    max-width: 400px;
    max-height: 400px;
    flex: 0 0 400px;
  }
}
.sphere.positive,
.sphere.neutral,
.sphere.negative {
  transform: scale(1);
  transition-duration: 2s;
  animation: sphereGlow 0.3s 1 linear;
}


/* Decision Elements */
.decision {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
  height: 100%;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  font-family: "Yusei Magic", sans-serif;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
}

#decision span {
  opacity: 0;
  animation: none;
  white-space: pre-line;
}

#decision .decisionShow {
  animation: decisionShow 1s 1 linear forwards;
}

#decision .decisionTypeShow {
  margin-top: 15px;
  animation: decisionTypeShow 0.5s 2s 1 linear forwards;
}

#decisionButton {
  z-index: 1;
  margin: 50px 15px 0;
  padding: 20px;
  font-family: "Yusei Magic", sans-serif;
  font-size: 20px;
  font-weight: 200;
  border: none;
  border-radius: 20px;
  background-color: #b150b7;
  color: #fff;
  cursor: pointer;
  box-shadow: inset 0 0 10px 10px rgba(255,255,255,0.2);
  opacity: 0;
  transition-duration: 2s;
}

.wrapper.neutral #decisionButton {
  background-color: var(--color-sphere-background);
  color: var(--color-decision-text);
}

#decisionButton.show {
  opacity: 1;
  transition-duration: 2s;
}

#decisionButton:hover {
  background-color: #df68e7;
}

#decisionButton:active {
  transform: scale(0.97);
}

/* Animations */
@keyframes sphereGlow {
  0% {
    box-shadow: 0 3px 100px rgba(255, 255, 255, 0), inset 0 0 25px rgba(0, 0, 0, 0);
  }
  100% {
    box-shadow: 0 3px 100px rgba(255, 255, 255, 0.4), inset 0 0 25px rgba(0, 0, 0, 0.4);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(200px);
  }
  100% {
    opacity: 0.5;
    filter: blur(50px);
  }
}

@keyframes decisionShow {
  0% {
    opacity: 0;
    margin-top: 50px;
    transform: scale(0) skew(20deg, 20deg) rotate(-400deg);
  }
  50% {
    transform: scale(0.5) skew(-20deg, -20deg) rotate(-200deg);
  }
  100% {
    margin-top: 0;
    transform: scale(1) skew(0) rotate(0);
    opacity: 1;
  }
}

@keyframes decisionTypeShow {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  90% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
