
#lightRays {
  position: absolute;
  z-index: 0;
  margin: -200px auto auto -5px;
  width: 200%;
  height: 200%;
  fill: #fff;
  opacity: 0;
  transition-duration: 2s;
  animation: none;
  overflow: hidden;
  animation: rotate 60s infinite linear;
}
@media (width > 509px) {
  #lightRays {
    margin: -150px auto auto -5px;
  }
}

#lightRays.show {
  opacity: 1;
  transition-duration: 2s;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(-360deg); }
}