  #ghost {
    position: fixed;
    width: 100px;
    opacity: 0;
    animation: ghost_fly 10s infinite linear;
    --bodyWaveVelocity: 0.5s;
    --mountMoveVelocity: 4s;
    --leftEyeVelocity: 1.8s;
    --rightEyeVelocity: 2.2s;
    --initialMargin: -20px;
    --endMargin: 20px;
    --initialAngle: 5deg;
    --endAngle: -5deg;
  }

  #ghost.reversed {
    --initialMargin: 20px;
    --endMargin: -20px;
    --initialAngle: -5deg;
    --endAngle: 5deg;
  }

  #ghost #ghost_body { 
    animation: body_wave var(--bodyWaveVelocity) 0s infinite alternate-reverse linear;
    fill:url(#radialGradient1703);
    fill-opacity:1;
    stroke-width: 0;
    stroke:none;
  }

  #ghost #ghost_mount { 
    transform-origin: center center;
    transform-box: fill-box;
    animation: mount_move var(--mountMoveVelocity) 0s infinite alternate-reverse linear;
    fill:#000000;
    fill-opacity:0.247664;
    stroke-width: 0;
  }

  #ghost #ghost_left_eye {
    animation: left_eye_move var(--leftEyeVelocity) 0s infinite alternate-reverse linear;
  }

  #ghost #ghost_right_eye { 
    animation: right_eye_move var(--rightEyeVelocity) 0s infinite alternate-reverse linear;
  }

  @keyframes ghost_fly {
    0% {
      opacity: 0;
      top: 50%;
      margin-left: var(--initialMargin);
      transform: rotate(var(--initialAngle));
    }
    5% {
      opacity: 0.1;
    }
    45% {
      transform: rotate(var(--initialAngle));
    }
    50% {
      opacity: 0.05;
      margin-left: var(--endMargin)
    }
    55% {
      transform: rotate(var(--endAngle));
    }
    95% {
      opacity: 0.1;
    }
    100% {
      opacity: 0;
      top: -30%;
      margin-left: var(--initialMargin);
      transform: rotate(var(--endAngle));
    }
  }

  @keyframes body_wave {
    0.0000% {
      d:path('m 82.930339,20.56567 c -23.703064,0.0161 -43.120405,18.831157 -43.88311,42.521952 h -0.05271 v 1.413867 c -1.176986,15.342936 -3.992437,27.970661 0,33.330194 4.018698,9.709497 2.444912,19.418987 0,29.128477 -3.011686,10.73503 -2.518954,20.83289 0,30.56235 3.608628,9.82599 2.380397,19.65197 0,29.47796 6.704798,1.72885 14.962942,2.02633 18.450597,5.93368 5.503709,6.16601 16.576576,1.65428 25.416684,3.09565 7.98648,1.30219 16.763474,1.94731 24.22535,-2.80846 5.79766,-3.69509 12.3934,-7.05121 19.77901,-6.22087 -1.62978,-8.90668 -2.9195,-17.99647 0,-29.35276 1.12954,-8.45219 3.57552,-14.83569 0,-30.68155 -0.49632,-9.35169 -3.96364,-16.79344 0,-29.012248 2.23739,-7.421824 2.03398,-18.911643 0,-33.452423 v -1.413867 h -0.0253 C 126.07779,39.386211 106.64403,20.566993 82.930339,20.56567 Z');
    }
    100.0000% {
      d:path('m 82.930339,20.56567 c -23.703064,0.0161 -43.120405,18.831157 -43.88311,42.521952 h -0.05271 v 1.413867 c -0.787205,15.223352 4.097145,23.538863 0,33.330194 -4.676374,13.247767 -1.042707,20.676547 0,29.128477 3.631393,19.77792 2.061914,22.28552 0,30.56235 -2.825725,13.40063 0.219639,20.85239 0,29.47796 4.597539,2.97405 6.771849,6.86652 18.450597,5.93368 8.238776,-0.65807 17.095978,-0.2196 25.416684,3.09565 10.331761,4.11653 15.412621,-3.35936 24.22535,-2.80846 7.47019,0.46697 13.7361,-3.69447 19.77901,-6.22087 -0.85925,-8.19563 2.63994,-12.83121 0,-29.35276 -0.12055,-7.99163 -3.83994,-12.10368 0,-30.68155 1.20959,-9.35169 4.03699,-16.79344 0,-29.012248 -3.94726,-10.51415 0.88287,-19.487196 0,-33.452423 v -1.413867 h -0.0253 C 126.07779,39.386211 106.64403,20.566993 82.930339,20.56567 Z');
    }
  }

  @keyframes mount_move {
    0% {
      transform: scale(1,1);
      cy: 105.10189;
      ry: 15.223921;
    }
    50%{transform: scale(0.5,0.5);}
    55%{transform: scale(0.75,0.75);}
    60%{transform: scale(0.5,0.5);}
    100% {
      transform: scale(1,1);
      cy: 115.85268;
      ry: 19.095522;
    }
  }

  @keyframes left_eye_move {
    0.0000% {
      d:path('m 50.985809,66.052 c 5.243502,-1.964057 6.366282,0.227503 15.397892,-9.861134 3.64608,-3.603896 8.302412,-12.973122 10.938239,4.226137 0.800901,6.570286 -5.395774,12.291446 -4.474736,16.224256 1.00184,5.817412 -3.576047,8.441767 -7.633673,7.756456 0.627284,0.416977 -1.763697,-9.14978 -8.190741,-8.880092 -4.276943,6.676375 -11.700492,-5.68958 -6.036981,-9.465623 z');
    }
    100.0000% {
      d:path('m 52.850235,57.957668 c 6.148288,-2.302963 7.464808,0.266759 18.054857,-11.562711 4.275225,-4.225762 9.735025,-15.211683 12.825674,4.955374 0.9391,7.704014 -6.326835,14.412382 -5.246869,19.023813 1.174712,6.821229 -4.193107,9.898426 -8.950892,9.094862 0.735524,0.488928 -2.06803,-10.728609 -9.604085,-10.412386 -5.014946,7.828409 -13.719457,-6.671338 -7.078685,-11.098952 z');
    }
  }

  @keyframes right_eye_move {
    0.0000% {
      d:path('m 115.91244,59.519764 c -5.97799,-2.239177 -7.25805,0.259371 -17.554783,-11.242457 -4.156813,-4.108722 -9.465392,-14.790365 -12.47044,4.818123 -0.913089,7.490635 6.151601,14.013202 5.101546,18.496909 -1.142175,6.6323 4.07697,9.624268 8.702979,8.842962 -0.715153,0.475386 2.010748,-10.431459 9.338068,-10.123993 4.87605,7.611584 13.33947,-6.486563 6.88263,-10.791544 z');
    }
    100.0000% {
      d:path('m 112.42818,69.658843 c -5.13616,-1.923854 -6.23596,0.222846 -15.082693,-9.659283 -3.571446,-3.530127 -8.132466,-12.707571 -10.71434,4.13963 -0.784507,6.435797 5.285326,12.039849 4.383141,15.892156 -0.981333,5.698333 3.502847,8.268969 7.477417,7.597687 -0.614444,0.408442 1.727595,-8.96249 8.023065,-8.698322 4.1894,6.539713 11.461,-5.573119 5.91341,-9.271868 z');
    }
  } 

