
    .shine {
        position: absolute;
        display: none;
        fill: #fff;
        width: 10px;
        height: 10px;
    }

    #shineSphere {
        position: absolute;
        margin: -100px auto auto -5px;
        width: 500px;
        height: 500px;
        opacity: 0;
    }
    #shineSphere.show {
        animation: show 2s 1 linear forwards;
    }
  
    #shineSphere .shine {
        display: block;
        opacity: 0;
        animation: shine 0.5s 2 alternate;
    }

    @keyframes shine {
        0% { opacity: 0; }
        100% { opacity: 0.4; transform: scale(1.1); }
    }

    @keyframes show {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }